<%= form_for(object, url: leads_path, method: :post, html: { class: "card bg-light col-12 col-md-6 my-5" }) do |f| %>
  <div class="card-body">
    <% if object.errors.any? %>
      <div class="alert alert-warning" role="alert">
        <p><%= pluralize(object.errors.count, "error") %> prohibited this form from being sent:</p>

        <ul class="my-0">
          <% object.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="row">
      <div class="form-group col-12">
        <%= f.label :name, "Name *" %>
        <%= f.text_field :name, required: true, maxlength: 100, class: "form-control" %>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-12">
        <%= f.label :business_name, "Business name *" %>
        <%= f.text_field :business_name, required: true, maxlength: 100, class: "form-control" %>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-12">
        <%= f.label :telephone_number, "Telephone number *" %>
        <%= f.telephone_field :telephone_number, required: true, maxlength: 13, class: "form-control" %>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-12">
        <%= f.label :email, "Email *" %>
        <%= f.email_field :email, required: true, maxlength: 80, class: "form-control" %>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-12">
        <%= f.label :contact_time %>
        <%= f.datetime_local_field :contact_time, class: "form-control" %>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-12">
        <%= f.label :notes %>
        <%= f.text_area :notes, maxlength: 255, class: "form-control" %>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-12">
        <%= f.label :reference %>
        <%= f.text_field :reference, maxlength: 50, class: "form-control" %>
      </div>
    </div>

    <div class="row">
      <div class="col-12 mt-4">
        <%= f.submit "Send", class: "btn btn-primary" %>
      </div>
    </div>
  </div>
<% end %>
