<div class="jumbotron">
  <div class="row">
    <div class="col-sm"></div>
    <div class="col-sm">
      <h5 class="display-5">Thank you for your interest in our services</h5>
      <p class="lead">Since 2007, we’ve been dedicated to saving UK businesses the time, hassle and frustration of dealing with utilities. Whether it’s electricity, gas, insurance, phone or water, we offer fair alternative to traditional suppliers.</p>  
    </div>
    <div class="col-sm"></div>
  </div>
</div>
<div class="row">
  <div class="col-sm"></div>
  <div class="col-sm">
    <% if flash[:error] %>
      <div class="alert alert-danger" role="alert"><%= flash[:error] %></div>
    <% elsif flash[:success] %>
      <div class="alert alert-success" role="alert"><%= flash[:success] %></div>
    <% end %>
    <div>
      <%= simple_form_for(@lead,  url: create_lead_url) do |f| %>
        <%= f.input :name, required: false %>
        <%= f.input :business_name, required: false %>
        <%= f.input :telephone_number, required: false %>
        <%= f.input :email, required: false %>
        <%= f.button :submit, class: 'btn btn-info' %>
      <% end %>
    </div>
  </div>
  <div class="col-sm"></div>
</div>
<br />


