<% provide(:title, 'Request a callback') %>
<h1>About Us</h1>

<%= simple_form_for(@lead) do |f| %>
  <%= f.input :name %>
  <%= f.input :business_name %>
  <%= f.input :telephone_number %>
  <%= f.input :email %>

  <%= f.button :submit, class: 'btn btn-primary btn-lg btn-block' %>
<% end %>
