- if @callback&.error?
  %div{class: 'alert alert-danger', role: 'alert'}
    = error_message(@callback.response_code)
  
= simple_form_for(@customer, method: :post, url: callback_path) do |f|
  = f.error_notification
  .form-group
    = f.input :name, input_html: { class: 'form-control' }, error_html: { class: 'invalid-feedback'}
  .form-group
    = f.input :business_name, input_html: { class: 'form-control' }, error_html: { class: 'invalid-feedback'}
  .form-group
    = f.input :telephone_number, as: :tel, input_html: { class: 'form-control' }, error_html: { class: 'invalid-feedback'}
  .form-group
    = f.input :email, as: :email, input_html: { class: 'form-control' }, error_html: { class: 'invalid-feedback'}
  .form-group
    = f.input :notes, as: :text, input_html: { class: 'form-control' }, error_html: { class: 'invalid-feedback'}
  .form-group
    = f.input :reference, input_html: { class: 'form-control' }, error_html: { class: 'invalid-feedback'}
  .form-group
    = f.button :submit, 'Request callback', class: 'btn btn-primary'