<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>

    <link rel="stylesheet" media="all" href="<%= asset_path "application", type: :stylesheet %>" />

    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,700,800' rel='stylesheet' type='text/css'>

    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application' %>
  </head>

  <body>

    <%= yield %>

  </body>
</html>
